[Desktop Entry]
Name=SolarFM
GenericName=File Manager
Comment=A file manager built with Python and GObject introspection.
Exec=/bin/solarfm %F
Icon=/usr/share/solarfm/icons/solarfm.png
Type=Application
StartupNotify=true
Categories=System;FileTools;Utility;Core;GTK;FileManager;
MimeType=inode/directory;inode/mount-point;x-scheme-handler/ssh;x-scheme-handler/smb;x-scheme-handler/nfs;x-scheme-handler/ftp;x-scheme-handler/ptp;x-scheme-handler/mtp;x-scheme-handler/webdav;x-scheme-handler/http;x-scheme-handler/https;
Terminal=false
