viewport,
treeview,
treeview > header,
notebook > stack,
notebook > header {
    background-color: rgba(0, 0, 0, 0.24);
}


notebook > header {
    background-color: rgba(0, 0, 0, 0.24);
    border-color: rgba(0, 232, 255, 0.64);
}

box,
iconview {
    background-color: rgba(0, 0, 0, 0.2);
    background: rgba(0, 0, 0, 0.2);
}

treeview,
treeview.view {
    background: rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, 0.2);
}

cell {
    margin: 0em;
    padding: 0em;
    /* float: left; */
}

cell:focus {
    outline-style: solid;
    outline-color: rgba(0, 232, 255, 0.64);
}


/* Ivonview and children default color */
.view {
  background-color: rgba(0, 0, 0, 0.22);
  color: #ebebeb;
}


/* Hover over color when not selected */
.view:hover {
  box-shadow: inset 0 0 0 9999px alpha(rgba(0, 232, 255, 0.64), 0.54);
}

/* Handles the icon selection hover and selected hover color. */
.view:selected,
.view:selected:hover {
  box-shadow: inset 0 0 0 9999px rgba(15, 134, 13, 0.49);
}

/* Rubberband coloring */
.rubberband,
rubberband,
flowbox rubberband,
treeview.view rubberband,
.content-view rubberband,
.content-view .rubberband,
XfdesktopIconView.view .rubberband {
  border: 1px solid #6c6c6c;
  background-color: rgba(21, 158, 167, 0.57);
}

XfdesktopIconView.view:active {
  background-color: rgba(172, 102, 21, 1);
}


XfdesktopIconView.view {
  border-radius: 4px;
  background-color: transparent;
  color: white;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

XfdesktopIconView.view:active {
  box-shadow: none;
  text-shadow: none;
}

XfdesktopIconView.view .rubberband {
  border-radius: 0;
}
