[Desktop Entry]
Name=SolarFM
GenericName=File Manager
Comment=A file manager built with Python and GObject introspection.
Path=/home/abaddon/.local/share/solarfm
Exec=/home/abaddon/Portable_Apps/py-venvs/flask-apps-venv/venv/bin/python /home/abaddon/.local/share/solarfm %F
Icon=/home/abaddon/.local/share/solarfm/resources/solarfm-64x64.png
Type=Application
StartupNotify=true
Categories=System;FileTools;Utility;Core;GTK;FileManager;
MimeType=inode/directory;inode/mount-point;x-scheme-handler/ssh;x-scheme-handler/smb;x-scheme-handler/nfs;x-scheme-handler/ftp;x-scheme-handler/ptp;x-scheme-handler/mtp;x-scheme-handler/webdav;x-scheme-handler/http;x-scheme-handler/https;
Terminal=false
