/* Set fm to have transparent window */
* {
    /* background: rgba(0, 0, 0, 0.14); */
    color: rgba(255, 255, 255, 1);
    border: 2px solid rgba(0, 0, 0, 0.0);
}

.base-container {
    margin: 10px;
}




/* * selection {
    background-color: rgba(116, 0, 0, 0.65);
    color: rgba(255, 255, 255, 0.5);
} */

/* Rubberband coloring */
/* .rubberband,
rubberband,
flowbox rubberband,
treeview.view rubberband,
.content-view rubberband,
.content-view .rubberband,
XfdesktopIconView.view .rubberband {
    border: 1px solid #6c6c6c;
    background-color: rgba(21, 158, 167, 0.57);
}

XfdesktopIconView.view:active {
    background-color: rgba(172, 102, 21, 1);
} */
